<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <title>Update Cupcake</title>
</head>
<body>
    <div class="container">
        <h1>Update Cupcake</h1>
        <form id="update-cupcake-form" method="post" action="/update/{{ cupcake.id }}">
            <!-- Include input fields for all cupcake attributes -->
            <label for="flavor">Flavor:</label>
            <input type="text" id="flavor" name="flavor" value="{{ cupcake.flavor }}"><br><br>
            
            <label for="size">Size:</label>
            <input type="text" id="size" name="size" value="{{ cupcake.size }}"><br><br>
            
            <label for="rating">Rating:</label>
            <input type="text" id="rating" name="rating" value="{{ cupcake.rating }}"><br><br>
            
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" value="{{ cupcake.image }}"><br><br>
        
            <button type="submit">Update</button>
            <a href="/" class="cancel-btn">Cancel</a>
        </form>
    </div>
</body>
</html>
